<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
<div>
    {# <div id="rn-contact-info">
                <div class="rn-container"></div>
    </div> #}
    <div id="rn-header-banner">
        <div class="rn-container">
            <div class="rn-contact-info">
                <div class="rn-contact-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                    <span>+365 21 23 22 235</span>
                </div>
                <div class="rn-contact-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                    <span>template@mail.com</span>
                </div>
                <div class="rn-contact-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                    <span>Seg - Sab: 9:00h - 22:00h</span>
                </div>
            </div>
            <div class="ms-auto d-flex">
                <div class="rn-social-icons">
                    <div class="rn-social-icon"></div>
                    <div class="rn-social-icon"></div>
                    <div class="rn-social-icon"></div>
                </div>
                <div class="rn-search-icon"></div>
            </div>
        </div>
    </div>
    <header id="rn-navigation">
        <div class="rn-container">
            <!--Nav Logo-->
            <a href="/" class="rn-logo" aria-label="back to home" tabindex="2">
                <img src="https://placehold.co/210x30" alt="" width="210" height="30" aria-hidden="true" decoding="async">
            </a>
            <!--Navigation List-->
            <nav class="rn-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="rn-toggle" id="mobile-menu-toggle" aria-expanded="false" aria-controls="rn-expanded-ul" aria-label="mobile menu toggle" tabindex="4">
                    <div class="rn-box" aria-hidden="true">
                        <span class="rn-line rn-line1" aria-hidden="true"></span>
                        <span class="rn-line rn-line2" aria-hidden="true"></span>
                        <span class="rn-line rn-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the rn-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the rn-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                {# This also allows for easy substitution of CodeStitch navigations. Just replace the .rn-ul-wrapper in the new navigation with this one to have full eleventyNavigation support #}
                <div class="rn-ul-wrapper">
                    <ul id="rn-expanded" class="rn-ul">
                        {% set navPages = collections.all | eleventyNavigation %}

                        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                        {% for entry in navPages %}

                            {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                            {% set hasChild = entry.children.length %}

                            {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                            {% set hideClasses = [] %}
                            {% if entry.hideOnMobile %}
                                {% set hideClasses = (hideClasses.push("hide-on-mobile"), hideClasses) %}
                            {% endif %}
                            {% if entry.hideOnDesktop %}
                                {% set hideClasses = (hideClasses.push("hide-on-desktop"), hideClasses) %}
                            {% endif %}

                            {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                            <li class="rn-li {% if hasChild %} rn-dropdown {% endif %} {{ hideClasses | join(" ") }}">

                                {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
                                {% if hasChild %}

                                    {# Check to see if the user's current page is one of the child pages. If so, apply the rn-active class to the dropdown parent #}
                                    {% set activeClass = "" %}
                                    {% for child in entry.children %}
                                        {% if child.url == page.url %}
                                            {% set activeClass = "rn-active" %}
                                        {% endif %}
                                    {% endfor %}

                                    {# Render the <button> with the active class, dropdown icon and child links #}
                                    <button 
                                        class="rn-li-link rn-dropdown-button {{ activeClass }}"
                                        aria-expanded="false"
                                        aria-controls="dropdown-{{ entry.key }}"
                                        aria-label="dropdown-{{ entry.key }}"
                                    >
                                        {{ entry.key }}
                                        <img class="rn-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                    </button>

                                    {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                                    <ul class="rn-drop-ul" id="dropdown-{{ entry.key }}">
                                        {% for child in entry.children %}
                                            <li class="rn-drop-li">
                                                <a href="{{ child.url }}" class="rn-li-link rn-drop-link">{{ child.key }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                    <a href="{{ entry.url }}" class="rn-li-link {% if entry.url == page.url %} rn-active {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %}>
                                        {{ entry.key }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <a href="/contact" class="rn-button-solid rn-nav-button">Contact Us</a>
        </div>
    </header>
</div>