---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/index2.css"/>
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    {# <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">mountain hiking society</span>
                <h1 class="cs-title">Explore the World with Exciting People</h1>
                <p class="cs-text">
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section> #}

    <!-- Hero Section -->
    <section id="hero-section" class="hero-section">
        <div class="hero-overlay"></div>
        <div class="blueprint-bg"></div>
        <div class="hero-content container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-7 col-md-8">
                    <p class="welcome-text">Welcome to Willmor</p>
                    <h1>Build a better<br>house <span class="highlight">for living</span></h1>
                    <div>
                        <button class="btn btn-primary btn-lg btn-custom">READ MORE</button>
                        <button class="btn btn-outline-dark btn-lg btn-custom">CONTACT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->
    {# 
    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card border-0">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 1</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card border-0">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 2</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card border-0">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 3</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
    </section> #}

    <section id="services2" class="py-5">
        <div class="container">
            <h1 class="text-center mb-2">OUR SERVICES</h1>
            <div class="underline mb-4"></div>

            <p class="text-center mb-5 w-50 m-auto">
            With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation,
            driveway sett or home repair. We provide a professional service for private and commercial customers.
        </p>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <img src="https://placehold.co/390x260" alt="Interior Renovation" class="img-fluid service-img w-100">
                    <h3 class="text-center mt-3 fs-5 fw-bold">INTERIOR RENOVATION</h3>
                    <div class="underline my-4"></div>
                    <p class="text-center fs-6">We can help you bring new life to existing rooms and develop unused spaces.</p>
                </div>
                <div class="col-md-4 mb-4">
                    <img src="https://placehold.co/390x260" alt="Design and Build" class="img-fluid service-img w-100">
                    <h3 class="text-center mt-3 fs-5 fw-bold">DESIGN AND BUILD</h3>
                    <div class="underline my-4"></div>
                    <p class="text-center fs-6">From initial design and project specification to achieving a high end finish.</p>
                </div>
                <div class="col-md-4 mb-4">
                    <img src="https://placehold.co/390x260" alt="Tiling and Painting" class="img-fluid service-img w-100">
                    <h3 class="text-center mt-3 fs-5 fw-bold">TILING AND PAINTING</h3>
                    <div class="underline my-4"></div>
                    <p class="text-center fs-6">We offer quality tiling and painting solutions for interior and exterior.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-company btn-lg text-light rounded-pill">VIEW ALL SERVICES</button>
            </div>
        </div>

    </section>

    {# <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section> #}

    <!-- ============================================ -->
    <!--                 RECENT PROJECTS              -->
    <!-- ============================================ -->
    <section id="recent-projects" class="container-fluid py-5">
        <div class="w-50 m-auto">
            <h1 class="text-center mb-2">RECENT PROJECTS</h1>
            <div class="underline mb-4"></div>

            <p class="text-center mb-5">
            Here are a few of many projects we have completed for our customers. We provide a professional service
            which includes consultation, free estimate, design, supply of materials and installation.
        </p>
        </div>

        <div id="recentProjectsCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#recentProjectsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#recentProjectsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#recentProjectsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://placehold.co/350x230" class="d-block w-100" alt="Interior Design Project">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="https://placehold.co/350x230" class="d-block w-100" alt="Landscaping Project">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="https://placehold.co/350x230" class="d-block w-100" alt="Plumbing Project">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#recentProjectsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recentProjectsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    {# 
    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->
    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section> #}

    <!-- ============================================ -->
    <!--                 ABOUT US                     -->
    <!-- ============================================ -->
    <section id="about-us" class="container py-5">
        <div class="w-50 m-auto">
            <h1 class="text-center mb-2">ABOUT US</h1>
            <div class="underline mb-4"></div>
            <p class="text-center mb-5">
                                    We provide a professional renovation and installation services with a real focus on customer satisfaction.
                                    Our installations are carried out by fully trained staff to the highest professional standards.
                                </p>
        </div>

        <div class="row align-items-center">
            <div class="col col-md-6 text-center mb-4 mb-md-0">
                <img src="https://placehold.co/300" alt="Professional worker" class="object-fit-cover rounded-circle">
            </div>
            <div class="col col-md-6">
                <div class="d-flex align-items-center mb-4">
                    <div class="icon-circle me-3">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div>
                        <h3 class="mb-1">OVER 15 YEARS EXPERIENCE</h3>
                        <p class="mb-0">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="icon-circle me-3">
                        <i class="fa-solid fa-paint-roller"></i>
                    </div>
                    <div>
                        <h3 class="mb-1">BEST MATERIALS</h3>
                        <p class="mb-0">We have the experience, personnel and resources to make the project run smoothly. We can ensure a job is done on time.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="icon-circle me-3">
                        <i class="fa-solid fa-clipboard-check"></i>
                    </div>
                    <div>
                        <h3 class="mb-1">PROFESSIONAL STANDARDS</h3>
                        <p class="mb-0">Work with us involves a carefully planned series of steps, centered around a schedule we stick to and daily communication.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="three-item-carousel" class="py-5">
        <div class="carousel-container">
            <div class="carousel">
                <img src="https://placehold.co/390x260" alt="Image 1">
                <img src="https://placehold.co/390x260" alt="Image 2">
                <img src="https://placehold.co/390x260" alt="Image 3">
                <img src="https://placehold.co/390x260" alt="Image 4">
                <img src="https://placehold.co/390x260" alt="Image 5">
                <img src="https://placehold.co/390x260" alt="Image 6">
                <img src="https://placehold.co/390x260" alt="Image 7">
                <img src="https://placehold.co/390x260" alt="Image 8">
                <img src="https://placehold.co/390x260" alt="Image 9">
            </div>
            <button class="carousel-btn prev">&lt;</button>
            <button class="carousel-btn next">&gt;</button>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    {# <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section> #}

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    {# <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section> #}

    <!-- ============================================ -->
    <!--                   FAQ                        -->
    <!-- ============================================ -->
    <section id="faq" class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="company-tag">SOLUTEK COMPANY</div>
                <h1 class="mt-4">Keeping Your Business <br>Safe and <span class="highlight">Available.</span></h1>
                <img src="meeting-image.jpg" alt="Business meeting" class="img-fluid rounded mt-4">
            </div>
            <div class="col-lg-6">
                <h2>A Comprehensive <span class="highlight">Guide.</span></h2>
                <p class="text-muted">Alternative innovation network environmental whiteboard pursue for premier methods empowerment go forward opportunities</p>

                <div class="accordion mt-4" id="faqAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                                What Medical Services Do You Provide?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Appropriately promote enterprise-wide vortals throuh innovative information evolve go forward markets whereas synergistic applications power full sound quality vectors without equity invested best practices revolutionize enterprise-wide vortals through innovative.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
                                What is your customer geography?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Content for customer geography...
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3">
                                What are the main industries we serve?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Content for main industries served...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'components/cta.html' %}
{% endblock %}